.home{


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Raleway';
    color: white;

    cursor:default
}

.home button{
    position: absolute;
    font-weight: 600;
    cursor: pointer;
}