.contact{
    position: relative;
    top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    
}

form{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
input,textarea{

    width: 400px !important; 

    margin-left: auto;
    margin-right: auto;
    background-color:#1e242c ;
    border: 0;
    margin-top: 5px;
    outline: none;
    color: gray;
    height: 50px;

}

textarea{
    color:white
}
::placeholder {
    
    font-family: 'Roboto', sans-serif;
}



.contact button:hover{
    background-color:rgb(4, 194, 201)   !important;
    color: white;
}
@media screen and (max-width: 600px) {
    .contact p {
        font-size: 2.1vw
    }

  }