
/* Modify the background color */
.navbar-custom {
    background-color: #1b242f;
    box-shadow: 0 3px 2px #30AADD;
    
}

.navbar-container {
  height: 100vh;
  position: relative;
}



.nav-links{
    margin: 5px;
    font-family: Raleway;
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-size: 12pt;
    text-transform: uppercase;
    text-decoration: none;
}


.nav-links:hover {
     /*will change background-color of element on hover */
    color: #FA4EAB !important; /*will change color of text within the element on hover */
    }

/* .nav-links > .active { */
        /* border-bottom: 1px solid red !important; 
/*    } */
